style.
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(22, 29, 29);
    padding: 0;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    max-width: 500px;
    margin: 140px auto;
  }

  .container h1 {
    text-align: center;
    color: white;
  }

  .no-pointer-events {
    pointer-events: none;
  }

  .btn {
    width: fit-content;
    display: inline-block;
    padding: 0.5em 0;
    margin: 0 auto;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    border-color: currentColor;
    text-decoration: underline;
    cursor: pointer;
    transition: all 200ms ease;
  }

  a {
    color: inherit;
  }

  .hidden {
    display: none;
  }