CONCURRENT_AMOUNT=1
# uncomment this if you have LibreTranslate running locally
#LIBRETRANSLATE='http://127.0.0.1:5000'
UPLOAD_FILE_SIZE_LIMIT_IN_MB=100
MULTIPLE_GPUS=false
FILES_PASSWORD=password
NODE_ENV='development'
