node_modules
.idea
assets
test
uploads
transcriptions
transcriptions1
downloads

public/javascripts/ffmpeg-core.wasm
.env

constants/apiTokens.txt

api-transcriptions
scripts/output-audio.aac
scripts/trimmed.mp4