node_modules
.idea
assets
test
uploads
transcriptions
api-transcriptions
transcriptions1
downloads

public/javascripts/ffmpeg-core.wasm
.env

constants/apiTokens.txt


scripts/output-audio.aac
scripts/trimmed.mp4
