.social
  a(href='https://github.com/mayeaux/generate-subtitles' target='_blank' rel='noreferrer' aria-label='GitHub Link')
    img#githubLogo(src='/images/inverted.png')
  a(href='https://discord.gg/vfXg7GHMpR' target='_blank' rel='noreferrer' aria-label='Discord Link')
    img#discordLogo(src='/images/discordLogo.png')
  a(href='https://t.me/freesubtitles_ai' target='_blank' rel='noreferrer' aria-label='Telegram Link')
    img#telegramLogo(src='/images/telegramLogo.webp')
  a(href='https://twitter.com/FreeSubtitlesAI' target='_blank' rel='noreferrer' aria-label='Twitter Link')
    img#twitterLogo(src='/images/twitterLogo.png')