extends layout

block content
    link(href='/views/styles/stats.css' rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css' rel='stylesheet')
    
    
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.js')
    script(type='text/javascript' src='https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
    //- Let browser know website is optimized for mobile
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    style.
        video {
            top: 0px;
        }
        body {
          margin: 2rem;
        }



    div
        h1 Files

        table#myTable.table.table-striped.table-bordered(style='width:100%')
            thead 
              tr
                th Filename
                th Duration
                th Date
            tbody
              for file in files
                tr
                  td
                    a(href='/player/' + file.name target="_blank") #{file.name}
                  td #{file.processingData.uploadDurationInSecondsHumanReadable}
                  td #{file.formattedDate}


    script.
      l = console.log;

      $(document).ready(function () {
        $('#myTable').DataTable();
      });



