extends layout

block content
    style.
        video {
            top: 0px;
        }


    div
        h1 Files

        table
            tbody
                tr
                    th Filename
                    th Duration
                    th Date


                each file in files
                    tr

                        td
                            a(href='/player/' + file)= file
                        td Duration
                        td Date


    script.
      l = console.log;

      $(document).ready(function () {
        console.log("ready!");

        // probably better to do on plyr ready if available as event
        setTimeout(function(){
          // const captionsIsPressed = $('button[data-plyr="captions"]')?.hasClass('plyr__control--pressed')

        }, 200)



      });



