extends layout

block content
  style.
    /* style.css */
    body {
      background-color: rgb(6, 26, 27);
    }

    * {
      box-sizing: border-box;
    }

    .container {
      max-width: 500px;
      margin: 60px auto;
    }

    .container h1 {
      text-align: center;
      color: white;
    }

    form {
      background-color: white;
      padding: 30px;
    }

    form .input-group {
      margin-bottom: 15px;
    }

    form label {
      display: block;
      margin-bottom: 10px;
    }

    form input {
      padding: 12px 20px;
      width: 100%;
      border: 1px solid #ccc;
    }

    .submit-btn {
      width: 100%;
      border: none;
      background: rgb(37, 83, 3);
      font-size: 18px;
      color: white;
      border-radius: 3px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
    }

    #data, #progress, #downloadLink, #refreshButton {
      color: white;
      font-size: 24px;
      text-align: center;
    }

    #downloadLink {
      display: none;
    }

    #refreshButton {
      cursor: pointer;
      text-decoration: underline;
      margin-top: 29px;
      display: none;
      font-size: 18px;
    }

  .container
    h1#header File Upload
    form#form
      .input-group
        label(for='file') Select file
        input#file(type='file')
        label(for='file') Language (aka English)
        input#language(type='text')
        label(for='file') Model (aka medium)
        input#model(type='text')
      button.submit-btn(type='submit') Upload

    p#progress
    p#data

    a#downloadLink(href='#') Download Here

    a#refreshButton(onclick='window.location.reload();') Transcribe Something Else



  //script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"
  script.
    l = console.log;
    l('running')

    const uploadPath="#{uploadPath}";

    const form = document.getElementById("form");

    form.addEventListener("submit", submitForm);

    function submitForm(e) {
      e.preventDefault();
      const file = document.getElementById("file");
      const language = document.getElementById("language").value;
      const model = document.getElementById("model").value;
      const formData = new FormData();

      l('file');
      l(file);
      l(file.file);

      formData.append("file", file.files[0]);
      formData.append('language', language);
      formData.append('model', model);


      l(formData);

      const uploadUrl = `http://${uploadPath}/file`;

      var ajax = new XMLHttpRequest();
      ajax.upload.addEventListener("progress", function(event){
        l(event);
        document.getElementById('form').style.display = 'none';

        var percent = Math.round((event.loaded / event.total) * 100);
        const percentDiv = document.getElementById('progress');

        percentDiv.innerHTML = `${percent}% uploaded`;


      }, false);
      ajax.addEventListener("load", function(res){
          console.log(res)
        document.getElementById('progress').style.display = 'none';
        document.getElementById('header').innerHTML = 'Processing..';


        const latestData = document.getElementById('data');

          latestData.innerHTML = 'Whisper initiating, updates to come...';
      }, false);
      // ajax.addEventListener("error", errorHandler, false);
      // ajax.addEventListener("abort", abortHandler, false);
      ajax.open("POST", uploadUrl); //
      ajax.send(formData);
    }
  script.
    (function () {
      // const rss = document.getElementById('rss');
      const latestData = document.getElementById('data');
      // const heapUsed = document.getElementById('heapUsed');
      // const external = document.getElementById('external');
      const ws = new WebSocket(`ws://${uploadPath}`);

      ws.onmessage = function (event) {
        const data = JSON.parse(event.data);

        console.log(event.data);

        latestData.innerHTML = data;

        if(data.status === 'Completed'){
          latestData.innerHTML = 'Congratulations, you\'re done!';
          const downloadLink = document.getElementById('downloadLink')
          downloadLink.href = data.url;
          downloadLink.style.display = 'block';
          document.getElementById('header').innerHTML = 'Transcription Completed';
          document.getElementById('refreshButton').style.display = 'block';

          l(data.url)
        }

        // rss.textContent = data.rss;
        // heapTotal.textContent = data.heapTotal;
        // heapUsed.textContent = data.heapUsed;
        // external.textContent = data.external;
      };
    })();
