doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/favicon.ico?v=1.1')
    link(rel='apple-touch-icon' href='/images/favicon.ico')
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js' integrity='sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js' integrity='sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.min.js' integrity='sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.3.1/balancetext.min.js' integrity='sha512-LYmOcKYUkf2fYuZ4qCuLjIsJHAV1IbRFng30BKotYho3D8LG5R9Ehl4N3AMxQUJ3ANkWAJ4UVe62t36h4RId2g==' crossorigin='anonymous' referrerpolicy='no-referrer')
    //- Font Awesome icons are used in the custom dropdowns
    script(src='https://kit.fontawesome.com/109728983b.js' crossorigin='anonymous')
  body
    block content
