style.
  
  .social {
    width: 130px;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
  }

  .social a {
    padding: 0.5em 1em;
    transition: all 200ms ease-in-out;
  }

  .social a:where(:hover, :focus) {
    transform: scale(1.1);
  }

  .social img {
    width: 100%;
  }

  #twitterLogo {
    margin-top: -14px;
  }