style.
  .amountsHeader {
    text-align: center;
    color: white;
    font-size: 21px;
  }

  .amountsHeader:nth-of-type(1) {
    margin-bottom: -1px;
  }

  .amountsHeader:nth-of-type(2) {
    margin-top: 11px;
  }

  .fileLimitsDiv {
    padding-bottom: 3px;
  }

  .firstHeader {
    margin-top: -75px;
    margin-bottom: 59px;
  }
