style.

  .transcription-data {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    font-size: 1.25rem;
    color: #fff;
  }

  .downloadLink, #refreshButton, #startNewUpload {
    color: white;
    font-size: 1.05rem;
    text-align: center;
  }

  #timeEstimator {
    font-size: 1.25rem;
    text-align: center;
  }

  #finishedData {
    text-align: left;
    font-size: 1.125rem;
    color: white;
    margin-top: -12px;
    margin-left: -44px;
    margin-bottom: 7px;
  }

  #latestData, #processingData, #secondProcessingData, #refreshButton, #startNewUpload, .downloadLink {
    display: none;
  }

  #refreshButton, #startNewUpload {
    text-decoration: underline;
  }

  .startNewUpload {
    --color: #fff;
    color: var(--color);
    margin-block: 0.5em;
    margin-top: -10px;
  }

  #latestData, #processingData, #secondProcessingData, #timeEstimator, #finishedData {
    white-space: pre;
  }

  .downloadLink {
    color: white;
    font-size: 1.25rem;
  }

  .circle-progress-value {
    stroke-width: 50px;
    stroke: hsl(160, 63%, 55%);
  }

  .circle-progress-circle {
    stroke-width: 50px;
    stroke: #999;
  }

  .circle-progress-text {
    fill: white;
  }

  .progress svg {
    height: 202px;
    width: 202px;
  }

  .circle-progress-value {
    stroke-width: 50px;
    stroke: white;
  }

  .circle-progress-text {
    fill: black;
    font-size: 1.1rem;
  }

  .circle-progress-circle {
    stroke-width: 50px;
    stroke: #bdbdbd;
  }

  .progress {
    display: none;
    margin: 0 auto;
    text-align: center;
  }

  #progress, #latestData {
    font-size: 1.6rem;
  }

  #latestData {
    margin: 0 auto;
  }

  #processingData {
    margin: 14px auto;
    line-height: 17px;
  }

  #secondProcessingData {
    line-height: 17px;
  }
