script.
  const errorsMap = {
    'no-file': () =>
      Swal.fire({
        title: `You didn't pass a file`,
        text: 'Please select a file to upload.',
        icon: 'error',
        confirmButtonText: 'Cool'
      }),
    'too-many-outstanding': () =>
      Swal.fire({
        title: `Slow down a bit`,
        text: 'You already have 3 outstanding jobs which is the maximum for now, please wait for one of them to finish before you upload another file',
        icon: 'error',
        confirmButtonText: 'Cool'
      }),
    'too-large-file': (size, sizeLimit) =>
      Swal.fire({
        title: `Too large file`,
        text: `Your file size of ${size}MB is too large. The limit is ${sizeLimit}MB.`,
        icon: 'error',
        confirmButtonText: 'Cool'
      }),
      'too-long-video': (duration, durationLimit) =>
        Swal.fire({
          title: `Too long video`,
          text: `Your video duration of ${duration / 60} minutes is too long. To share time more evenly 1h+ uploads are not allowed currently.`,
          icon: 'error',
          confirmButtonText: 'Cool'
        }),
      'transcription-error': text =>
        Swal.fire({
          title: 'Transcription Failed',
          text,
          icon: 'error',
          showCancelButton: true,
          confirmButtonText: 'Try Again',
        }).then(result => result.isConfirmed && window.location.reload()),
      'interrupted-connection': () =>
        Swal.fire({
          title: 'Websocket Disconnected',
          text: 'Your websocket connection was disconnected, please refresh to start a new upload',
          icon: 'error',
          showCancelButton: true,
          confirmButtonText: 'Refresh',
        }).then(result => result.isConfirmed && window.location.reload()),
  }
