script.
  const errorsMap = {
    'no-file': () => 
      Swal.fire({
        title: `No File Passed`,
        text: 'Please select a file to upload.',
        icon: 'error',
        confirmButtonText: 'Cool'
      }),
    'too-large-file': (size, sizeLimit) =>
      Swal.fire({
        title: `Too Large File`,
        text: `Your file size of ${size}MB is too large. The limit is ${sizeLimit}MB.`,
        icon: 'error',
        confirmButtonText: 'Cool'
      }),
      'too-long-video': (duration, durationLimit) =>
        Swal.fire({
          title: `Too Long Video`,
          text: `Your video duration of ${duration / 60} minutes is too long. To share time more evenly 1h+ uploads are not allowed currently.`,
          icon: 'error',
          confirmButtonText: 'Cool'
        }),
      'no-target-languages-selected': () =>
        Swal.fire({
          title: `No Target Languages`,
          text: 'You have translations turned on without any languages selected, please select a language or turn off translation functionality.',
          icon: 'error',
          confirmButtonText: 'Cool'
        }),
      'transcription-error': text => 
        Swal.fire({
          title: 'Transcription Failed',
          text,
          icon: 'error',
          showCancelButton: true,
          confirmButtonText: 'Try Again',
        }).then(result => result.isConfirmed && window.location.reload()),
      'interrupted-connection': () => 
        Swal.fire({
          title: 'Websocket Disconnected',
          text: 'Your websocket connection was disconnected, please refresh to start a new upload.',
          icon: 'error',
          showCancelButton: true,
          confirmButtonText: 'Refresh',
        }).then(result => result.isConfirmed && window.location.reload()),
  }