//if isFreeSubtitles
//  h3.amountsHeader #{siteStats.amountOfTranscriptions} transcriptions completed
//  h3.amountsHeader #{siteStats.humanReadableTime} transcribed
if isFreeSubtitles
  .fileLimitsDiv
    h3.amountsHeader File Limits:
    h3.amountsHeader Size: #{uploadLimitInMB}MB
    h3.amountsHeader Duration: 1 Hour
