//DISPLAY DIFFERENT DATA
.transcription-data
  p#progress
  .progress
  p#timeEstimator
  p#latestData
  p#processingData
  p#secondProcessingData
  p#finishedData

  // kind of duplicated, not sure it's needed
  a#startNewUpload.startNewUpload.btn(onclick='(function(){ window.open(window.location.href, \'_blank\').focus(); })();') Start Another Transcription

.download-links
  a.btn.downloadLink#srtDownloadLink(href='#')

  a.btn.downloadLink#vttDownloadLink(href='#')

  a.btn.downloadLink#txtDownloadLink(href='#')

  a.btn#refreshButton(onclick='(function(){ window.open(window.location.href, \'_blank\').focus(); })();') Start New Transcription
